<%= form_for(@t_complaint) do |f| %>
  <% if @t_complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@t_complaint.errors.count, "error") %> prohibited this t_complaint from being saved:</h2>

      <ul>
      <% @t_complaint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b>Complaint Number:</b>
    <%= f.number_field :cmpnumber %>
  </div>
  <div class="field">
    <b>First Name:</b>
    <%= f.text_field :cmpfirst %>
  </div>
  <div class="field">
    <b>Middle Name:</b>
    <%= f.text_field :cmpmiddle %>
  </div>
  <div class="field">
   <b>Last Name:</b>
    <%= f.text_field :cmplast %>
  </div>
  <div class="field">
    <b>Complaint Details:</b><br>
    <%= f.text_area :cmpdetails %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
