<h2>Show Details for Complaint Number: <%= link_to_unless_current @t_complaint.cmpnumber %></h2> 
<%= simple_format  t_complaint.cmpfirst %>
<%= simple_format  t_complaint.cmpmiddle %>
<%= simple_format  t_complaint.cmplast %>
<%= simple_format  t_complaint.cmpdetails %>
